.main{
    display: flex;
    justify-content: center;
    text-align:center;
    width:100%;
    
}
.field{
    width:50%;
    text-align:left;
    margin:0px 35%;
   
}
.subject{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 20px;  
    
}

.image{
    margin-top: 15px;
    
    
    
    
}

.submit{
    
    width: 30%;
    margin: 2% 0px 0px 10%;
    
}
.example2{
    width: 200px;
    padding: 10px;
    cursor: pointer;
}
